#!/bin/bash

sudo apt-get install -y vim || exit $?

echo "Installing vim-plugin-manager.."
curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim || exit $?

curd=$(dirname $(realpath $0))

echo "Installing vim-plugins.."
grep "^Plug " vim-plug-vimrc | awk '{print $2}'
cp ${curd}/vim-plug-vimrc ${HOME}/.vim-plug-vimrc # we make copy so that any changes won't disturb pkg updates later
if ! grep -s "vim-plug-vimrc" ${HOME}/.vimrc; then
   echo ""                                                     >> ${HOME}/.vimrc
	echo "if filereadable(expand(\"${HOME}/.vim-plug-vimrc\"))" >> ${HOME}/.vimrc
   echo "    source ${HOME}/.vim-plug-vimrc"                   >> ${HOME}/.vimrc
   echo "endif"                                                >> ${HOME}/.vimrc
fi
vim -c ":PlugInstall"
echo -e "\n\n**** 'vimplugs' command helps with further vim plugin management ****\n\n"
sleep 2


echo "Updating ${HOME}vimrc to source ${curd}/c10vimrc.."
c10vimrcf="${curd}/c10vimrc"
if ! grep -s "c10vimrc" ${HOME}/.vimrc; then
   echo ""                                          >> ${HOME}/.vimrc
	echo "if filereadable(expand(\"${c10vimrcf}\"))" >> ${HOME}/.vimrc
   echo "    source ${c10vimrcf}"                   >> ${HOME}/.vimrc
   echo "endif"                                     >> ${HOME}/.vimrc
fi

exit 0
