#!/bin/bash

sudo apt-get install -y vim || exit $?

_add_src_line_vimrc()
{
	local searchStr="$1"; shift
	local srcFile="${@}"
	grep -sq "$searchStr" ${HOME}/.vimrc && return
	echo ""                                        >> ${HOME}/.vimrc
	echo "if filereadable(expand(\"${srcFile}\"))" >> ${HOME}/.vimrc
	echo "    source ${srcFile}"                   >> ${HOME}/.vimrc
	echo "endif"                                   >> ${HOME}/.vimrc
}

echo "Installing vim-plugin-manager.."
if [ ! -f ~/.vim/autoload/plug.vim ]; then
	curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
		https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim || exit $?
fi
echo "Done!"

curd=$(dirname $(realpath $0))

echo "Installing vim-plugins listed below:"
echo "------"
grep "^Plug " ${curd}/vim-plug-vimrc | awk '{print $2}'
echo "------"
cp ${curd}/vim-plug-vimrc ${HOME}/.vim-plug-vimrc # we make copy so that any changes won't disturb pkg updates later
_add_src_line_vimrc "vim-plug-vimrc" "${HOME}/.vim-plug-vimrc"
vim -c ":PlugInstall"
echo "Done!"

echo -e "\n**** 'vimplugs' command helps with further vim plugin management ****\n"

echo "Updating ${HOME}/vimrc to source ${curd}/c10vimrc.."
_add_src_line_vimrc "c10vimrc" "${curd}/c10vimrc"

exit 0
